<div class="navbar navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="images/mg.png"
        class="me-2"
        height="40"
        alt="Memory game"
        loading="lazy"
      />
      <i><small>Game Board</small></i>
    </a>
  </div>
</div>
